import type { CSSProperties } from "react";
import { forwardRef } from "react";

export type {{pascalCase componentName}}PropsType = {
  style?: CSSProperties;
  className?: string;
};

const {{pascalCase componentName}} = forwardRef<HTMLDivElement, {{pascalCase componentName}}PropsType>(({ ...rest }, ref) => {
  return <div ref={ref} {...rest}></div>;
});

{{pascalCase componentName}}.displayName = "{{pascalCase componentName}}";
export default {{pascalCase componentName}};
