import type { ComponentProps, ForwardedRef } from "react";
import { forwardRef } from "react";

export interface {{pascalCase componentName}}Props extends ComponentProps<"div"> {};

const {{pascalCase componentName}} = forwardRef<HTMLDivElement, {{pascalCase componentName}}Props>(
  ({ ...rest }, ref: ForwardedRef<HTMLDivElement>) => {
    return <div ref={ref} {...rest}></div>;
  }
);

{{pascalCase componentName}}.displayName = "{{pascalCase componentName}}";
export default {{pascalCase componentName}};
